$sidenav-background: #1a202e;

:root {
  --sidenav-background: #{$sidenav-background};
  --sidenav-toolbar-background: #{darken($sidenav-background, 1.5)};
  --sidenav-item-background-active: #{darken($sidenav-background, 2)};
  --sidenav-item-color: #A1A2B6;
  --sidenav-item-color-active: #{$light-primary-text};
  --sidenav-item-icon-color: #494B74;
  --sidenav-item-icon-color-active: rgb(92, 119, 255);
  --trans-ease-out: all var(--trans-ease-out-duration) var(--trans-ease-out-timing-function);
  --trans-ease-out-duration: #{$swift-ease-out-duration};
  --trans-ease-out-timing-function: #{$swift-ease-out-timing-function};
}
