
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

// Partials
@import "_variables.scss";
@import "quill.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$offline-admin-panel-primary: mat-palette($mat-indigo);
$offline-admin-panel-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$offline-admin-panel-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$offline-admin-panel-theme: mat-light-theme((
  color: (
    primary: $offline-admin-panel-primary,
    accent: $offline-admin-panel-accent,
    warn: $offline-admin-panel-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($offline-admin-panel-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height:100%;
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-button-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
}
