<div class="songs-layout">
  <div class="songs-header" fxLayout="column" fxLayoutAlign="center start">
    Songs
  </div>
  <div class="songs-content">
    <div class="card">
      <div class="bg-app-bar" fxLayout="row" fxLayoutAlign="start center">
        <div 
          class="wrapper-search"
          fxFlex="400px"
          fxFlex.lt-md="auto"
          fxHide.xs
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input
            [formControl]="searchCtrl"
            class="search"
            placeholder="Search..."
            type="text"
          >
        </div>

        <span fxFlex></span>

        <button class="ml-4" fxFlex="none" fxHide.gt-xs mat-icon-button type="button">
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button
          (click)="create()"
          class="ml-4"
          color="primary"
          fxFlex="none"
          mat-mini-fab
          matTooltip="Add song"
          type="button"
        >
          <mat-icon [icIcon]="icAdd"></mat-icon>
        </button>
      </div>

      <table @stagger [dataSource]="dataSource" class="songs-table" mat-table matSort>

        <!-- fullName Column -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{ column.label }}</th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>{{ row[column.property] }}</td>
          </ng-container>
        </ng-container>

        <!-- actions Column -->
        <ng-container matColumnDef="actions">
          <th *matHeaderCellDef class="actions-cell" mat-header-cell mat-sort-header></th>
          <td *matCellDef="let row" class="w-10" mat-cell>
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerData]="{ song: row }"
              [matMenuTriggerFor]="actionsMenu"
              mat-icon-button
              type="button"
            >
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          (click)="update(row)"
          *matRowDef="let row; columns: visibleColumns;"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row
        >
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" class="sticky left-0"></mat-paginator>
    </div>
  </div>
</div>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-song="song" matMenuContent>
    <button (click)="update(song)" mat-menu-item>
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Modify</span>
    </button>
    <button (click)="delete(song)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
