<a 
  fxLayout="row"
  matRipple
  class="item"
  (click)="onItemSelected(item)"
  [ngClass]="{
    'active': item.route ? router.isActive(item.route, true): false,
    'expanded': expanded,
    'list-dropdown-item': item.level === 1 ? true : false
  }"
>
  <mat-icon *ngIf="item.level === 0" [icIcon]="item.icon" class="item-icon" matListIcon></mat-icon>
  <span class="item-label" fxFlex="auto">{{ item.label }}</span>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded" class="list-dropdown">
  <app-sidenav-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-sidenav-item>
</div>
