.mat-snack-bar-container {
  &.error-snackbar {
    background: #f56c6c;
  }

  &.succes-snackbar {
    background: #67c23a;
  }

  &.info-snackbar {
    background: #909399;
  }

  &.warning-snackbar {
    background: #e6a23c;
  }

  &.error-snackbar,
  &.succes-snackbar,
  &.info-snackbar,
  &.warning-snackbar {
    color: var(--color-white);
  
    button {
      color: var(--color-white);
    }
  }
}
