<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card @fadeInUp class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form class="form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Email"
            type="email"
            formControlName="email"
          >
          <mat-error>{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Password"
            type="password"
            formControlName="password"
          >
          <mat-error>{{getErrorMessagePassword()}}</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        [class.spinner]="loading"
        [disabled]="form.invalid || submitted || loading"
      >
        Log in
      </button>
    </form>
  </mat-card>
</div>
