<form
  *ngIf="!isLoading"
  (ngSubmit)="save()"
  [formGroup]="form"
  class="set-songs-dialog"
>
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <!-- <h2 *ngIf="form.get('title').value || form.get('lastName').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('title').value + ' ' + form.get('lastName').value }}</h2>
    <h2 *ngIf="!form.get('title').value && !form.get('lastName').value"
        class="headline m-0"
        fxFlex="auto">New Customer</h2> -->

    <h2
      class="headline"
      fxFlex="auto"
    >
      New
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field class="title">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput>
    </mat-form-field>

    
      <mat-form-field>
        <mat-select [formControl]="songMulti" placeholder="Songs" [multiple]="true" #multiSelect>
          <ngx-mat-select-search [formControl]="songMultiFilter"></ngx-mat-select-search>
          <mat-option *ngFor="let song of filteredSongsMulti | async" [value]="song">
            {{song.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    
    <p>
      Selected Songs:
    </p>
    <ul *ngFor="let song of songMulti?.value">
      <li>{{song.title}}</li>
    </ul>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE</button>
  </mat-dialog-actions>
</form>

<mat-card *ngIf="isLoading" class="loading">
  <app-spinner></app-spinner>
</mat-card>
