.sidenav-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  .sidenav {
    width: 280px;
    background: var(--sidenav-background);
  }

  .content {
    background: var(--background-base);
  }
}
