.sidenav {
  .sidenav-toolbar {
    background: var(--sidenav-toolbar-background);

    .mat-toolbar {
      background: transparent;
    }
  }

  .sidenav-menu {
    .item {
      align-items: center;
      box-sizing: border-box;
      color: var(--sidenav-item-color);
      cursor: pointer;
      display: flex;
      flex-direction: row;
      min-height: 48px;
      padding: 8px 24px;
      position: relative;
      text-decoration: none;
      transition: var(--trans-ease-out);
      user-select: none;
      width: 100%;

      &:hover, &.active {
        background: var(--sidenav-item-background-active);
    
        .item-icon {
          color: var(--sidenav-item-icon-color-active);
        }
    
        .item-label {
          color: var(--sidenav-item-color-active);
        }
      }
    }

    /* .mat-list-item {
      height: 48px;
      font-size: 14px;
      color: var(--sidenav-item-color);
    }

    .active {
      background-color: var(--sidenav-item-background-active);

      &.mat-list-item {
        color: #ffffff;
      }

      &.item-icon {
        color: #ffffff;
      }
    } */

    .item-icon {
      color: var(--sidenav-item-icon-color);
      font-size: 24px;
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
  }
}
