<form
  *ngIf="!isLoading"
  (ngSubmit)="save()"
  [formGroup]="form"
  class="song-set-dialog"
>
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <!-- <h2 *ngIf="form.get('title').value || form.get('lastName').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('title').value + ' ' + form.get('lastName').value }}</h2>
    <h2 *ngIf="!form.get('title').value && !form.get('lastName').value"
        class="headline m-0"
        fxFlex="auto">New Customer</h2> -->

    <h2
      class="headline"
      fxFlex="auto"
    >
      New
    </h2>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider></mat-divider>

  <mat-dialog-content fxLayout="column">
    <mat-form-field class="title">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput>
      <mat-error>{{getErrorMessageTitle()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="songMulti" placeholder="Songs" [multiple]="true" #multiSelect>
        <ngx-mat-select-search [formControl]="songMultiFilter"></ngx-mat-select-search>
        <mat-option *ngFor="let song of filteredSongsMulti | async" [value]="song">
          {{song.title}}
        </mat-option>
      </mat-select>
      <mat-error>{{getErrorMessageSongs()}}</mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="show" class="show">Show</mat-slide-toggle>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button
      mat-button
      mat-dialog-close
      type="button"
    >
      CANCEL
    </button>
    <button
      *ngIf="isCreateMode()"
      color="primary"
      mat-raised-button
      type="submit"
      [class.spinner]="loadingButton"
      [disabled]="form.invalid || loadingButton"
    >
      CREATE
    </button>
    <button
      *ngIf="isUpdateMode()"
      color="primary"
      mat-raised-button
      type="submit"
      [class.spinner]="loadingButton"
      [disabled]="form.invalid || loadingButton"
    >
      UPDATE
    </button>
  </mat-dialog-actions>
</form>

<mat-card *ngIf="isLoading" class="loading">
  <app-spinner></app-spinner>
</mat-card>
